.error-message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 16px;
    opacity: 1;
    transform: translateY(0);
    animation: _mat-form-field-subscript-animation 0ms cubic-bezier(0.55, 0, 0.55, 0.2);
    display: inherit;
}

